@import "../../../shared/variable";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

//.mat-drawer-inner-container {
//  background-color: #386ca1;
//}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: $primary-color;
  //background-color: #673ab7;
}

.menu-item {
  color: $unselect-text-color;
  //color: #673ab7;
  .active {
    color: white;
    // font-weight: bold!important;
  }
  &:hover {
    // color: black;
    // background-color: #204975;
  }
}
